<a href="https://colab.research.google.com/github/khoirudhien86/pbo/blob/main/2_4_print_tipe_data_12191698.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Mencetak Tipe Data
**Praktik 2.4.1**
Cobalah mengetik kode di bawah ini :
``` javascript
#tipe data Boolean
print(True)


#tipe data String
print("Mari belajar Python")
print('Belajar Python Sangat Dengan Mudah')


#tipe data Integer
print(20)


#tipe data Float
print(3.14)


#tipe data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])


#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))


#tipe data Dictionary
print({"nama":"Budi", 'umur':20})

#tipe data Dictionary dimasukan ke dalam variabel biodata
biodata = {"nama":"Andi", 'umur':21} #proses inisialisasi variabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data Dictionary
type(biodata) #fungsi untuk mengecek jenis tipe data. akan tampil <class 'dict'>
```

In [4]:
#Jawab Praktik 2.4.1

#tipe data boolean
print(True)

#tipe data string
print("mari belajar python")
print('belajar python sangat dengan mudah bro')

#tipe data integer
print(100)

#tipe data float
print(3.14)

#tipe data list
print([1,2,3,4,5])
print(["satu","dua","tiga","empat","lima"])

#tipe data tuple
print((1,2,3,4))
print(("satu","dua","tiga","empat"))

#tipe data dictionary
print({"nama":"udin", 'umur':24})

#tipe data dictionary dimasukkan ke dalam variable biodata
biodata = {"nama": "khoirudin", 'umur': 25} #proses inisialisasi variable biodata
print(biodata) #proses pencetakan variable biodata yang berisi tipe data dictionary
print(type(biodata)) #fungsi untuk mencetak jenis tipe data. akan tampil <class 'dict'>

True
mari belajar python
belajar python sangat dengan mudah bro
100
3.14
[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga', 'empat', 'lima']
(1, 2, 3, 4)
('satu', 'dua', 'tiga', 'empat')
{'nama': 'udin', 'umur': 24}
{'nama': 'khoirudin', 'umur': 25}
<class 'dict'>

**Tugas Praktek 3.3**

1.Printing Data type menggunakan Variable.
Ketikan kode di bawah ini pada Code Editor.
``` javascript
var_string="Mari Belajar Python"
var_int=10
var_float=3.14
var_list=[1,2,3,4]
var_tuple=("satu","dua","tiga")
var_dict={"nama":"Ali", 'umur':20}


print(var_string)
print(var_int)
print(var_float)
print(var_list)
print(var_tuple)
print(var_dict)
```

In [2]:
#Jawab Tugas Praktek 3.3 Nomor 1
kalimat = "mari belajar python"
angka = 1000
pecahan = 3.14
kumpulanAngka = [1,2,3,4,5]
tulisanAngka = ("satu","dua","tiga","empat","lima")
dictionary = {"nama" : "khoirudin", 'umur' : 24}

print(kalimat)
print(angka)
print(pecahan)
print(kumpulanAngka)
print(tulisanAngka)
print(dictionary)

mari belajar python
1000
3.14
[1, 2, 3, 4, 5]
('satu', 'dua', 'tiga', 'empat', 'lima')
{'nama': 'khoirudin', 'umur': 24}

2. Tambahkan code di bawah ini untuk mengetahui type data dari suatu value di variabel.
``` javascript
print(type(var_string))
print(type(var_int))
print(type(var_float))
print(type(var_list))
print(type(var_tuple))
print(type(var_dict))
```

In [3]:
#Jawab Tugas Praktek 3.3 Nomor 2
print(type(kalimat))
print(type(angka))
print(type(pecahan))
print(type(kumpulanAngka))
print(type(tulisanAngka))
print(type(dictionary))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>